/* Открытая карточка (full-screen) и связанные эффекты. */

.is-open::after, .is-open::before {
    opacity: 0;
}

.is-open {
    user-select: text;
    z-index: 100;
}

.is-open .close-card-button {
    display: block;
    background-color: var(--glass-bg);
    opacity: 1;
    backdrop-filter: blur(10px);
    padding: 5px;
    transition: all 0.3s ease;
}

.is-open .close-card-button:hover {
    transform: scale(1.1);
}

/* Гарантируем скрытие additional_info когда карточка закрыта. */
.card:not(.is-open) .additional_info {
    display: none !important;
}

