APP_PORT=8000
HTTP_PORT=80
VITE_API_URL=/api

WEBAPP_URL=https://your-ip
CORS_ALLOW_ORIGINS=https://your-ip

DATABASE_URL=postgresql+asyncpg://postgres:password@host:5432/vibemovie
BOT_DATABASE_URL=postgresql://postgres:password@host:5432/vibemovie

BOT_TOKEN=your_telegram_bot_token
RANDOM_WORDS=word1,word2,word3...
