/* Global Reset & Body */
body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: var(--bg-body-image);
    overflow: hidden;
    font-family: var(--font-main);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Main Grid Layout */
.main-container {
    display: grid;
    grid-template-rows: 10% 1fr 20%;
    grid-template-areas: 
        "header"
        "card"
        "search";
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Header */
.header {
    position: relative;
    grid-area: header;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
}

@media (width >= 768px) {
    .header {
        width: 100%;
        padding: 2.5%;
    }
}

.header__search-form {
    display: flex;
    position: relative;
    color: inherit;
    border-radius: 10px;
    font-style: inherit;
}

.header__search-button {
    box-sizing: border-box;
    width: clamp(35px, 4vw, 60px);
    height: 100%;
    position: absolute;
    right: 0;
    top: -3%;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}

.header__search-button svg,
.header__menu-pseudo-checkbox svg {
    width: 20px;
    height: 20px;
    stroke: rgba(var(--theme-color-rgb), 1);
    transition: stroke 0.3s ease;
}

.header__search-button:hover svg,
.header__menu-label:hover .header__menu-pseudo-checkbox svg {
    stroke: rgba(var(--theme-color-rgb), 0.8);
}

.header__menu-pseudo-checkbox {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.header__menu-icon {
    stroke: rgba(var(--theme-color-rgb), 1);
    transition: stroke 0.3s ease;
}

.header__search {
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;
    padding-right: clamp(35px, 4vw, 60px);
    width: clamp(185px, 40vw, 300px);
    height: clamp(35px, 4vw, 60px);
    padding: 1px 4vw 1px 2px;
    border-radius: 10px;
    font-family: inherit;
    font-size: clamp(8.5px, 1.5vw, 14px);
}

.header__search::placeholder {
    color: black;
    font-style: inherit;
}

.header__button {
    box-sizing: border-box;
    display: flex;
    width: clamp(35px, 4vw, 60px);
    aspect-ratio: 1 / 1;
    z-index: var(--z-header);
}

/* Main Content Area */
.main {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Search Area */
.search {
    grid-area: search;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    justify-self: center;
    padding: 2% 2.5% 1.5% 2.5%;
}

