:root {
    --theme-color-rgb: 27, 36, 33;
    --text-primary: aliceblue;
    
    --font-main: "Unbounded", sans-serif;
    
    --bg-body-image: url(/site/images/body_background.jpg);
    --bg-card-image: url(/site/images/card_bg.jpg);
    
    --z-header: 2;
    --z-card: 5;
    --z-close-btn: 2;
}

